{% extends 'base.html.twig' %}

{% block title %}Registro Usuario!
{% endblock %}

{% block body %}
	

	<div class="example-wrapper">
		<h1>Rgistro de usuario! ✅</h1>

		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
	</div>
{% endblock %}
