{% extends 'base.html.twig' %}

{% block title %}Crear tarea!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h2>Crear Tarea ✅</h2>
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
	</div>
{% endblock %}
