{% extends 'base.html.twig' %}

{% block title %}Mis las tareas!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h2>Mis tareas ✅</h2>
		{{ include('includes/task-list.html.twig')}}
	</div>
{% endblock %}
