<IfModule mod_rewrite.c>

#Activar rewrite

RewriteEngine on
ErrorDocument 404 http://localhost/master-php/proyecto-php-poo/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>
