form .avatar {
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub_image .container-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img {
    height: 100%;
}
.pub_image {
    margin-bottom: 25px;
}

.pub_image .container-avatar {
    float: left;
    margin-right: 15px;
}

.pub_image .data-user {
    font-weight: bold;
    line-height: 35px;
}

.pub_image .data-user a{
    color: #444;
}

.pub_image .nickname {
    color: grey;
}

.image-container {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-detail{
    max-height: 500px;
}

.image-container img {
    width: 100%;
}

.pub_image .card-body {
    padding: 0px;
}

.pub_image .description {
    padding: 20px;
    padding-bottom: 0px;
}

.pub_image .btn-comments {
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
}

.likes{
    float: left;
    padding-left: 20px;
    padding-right: 10px;;
}

.likes img {
    width: 20px;
}

.pub_image_detail .comments{
    padding: 20px;
}