/*GENERALES*/
*{
    padding:0px;
    margin 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body{
    background: url(../img/bg.png);
}

a{
    color: #01B1EA
}

a:visited{
    color: #01B1EA
}

a:hover{
    color: #555555;
}

.alert_green{
    color: green;
}

.alert_red{
    color: red;
}

table{
    width: 100%;
    border: 1px solid #555;
    text-align: center;
}
td{
    border-top: 1px solid #ccc;
    padding: 2px;
}

.thumb{
    width: 100px;
}

/*CONTAINER*/

#container{
    width:80%;
    margin:0px auto; /*auto es para que se centre*/
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/*HEADER*/

#header{
    height: 145px;
    background: #F0F0F0;
}

#logo{
    float: left;
    padding: 20px;
    margin-left: 20px;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none; /*Para sacar el suibrayado del enlace*/
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/*MENU*/
#menu{
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background:#01B1EA;
}

/*CONTENT*/

#content{
    margin: 0px auto;
    overflow: hidden;
    background:  white;
}

#lateral{
    width: 22%;
    min-height: 500px;
    float:left;
    margin: 20px;
    margin-left: 15px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom:  15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}

#lateral ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*FORM*/
.form_container{
    width: 50%;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea{
    display: block;
    width: 95%;
    margin-top:2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select, textarea{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: whites;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 5px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}

label,
input[type="button"],
input[type="submit"],
button{
    display: block;
    margin-top: 10px;
}

.button{
    background: green;
    color: white !important; /*Con el important forzamos a que este primero el color blanco*/
    text-decoration: none;
}

.button-small{
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.button-gestion{
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-red{
    background: red;
    border: 1px solid orange;
}

/*CENTRAL*/

#central{
    width: 68%;
    min-height: 500px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px 1px 5px #ddd;
    padding: 25px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

/*PRODUCTO*/
.product{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.product img{
    width: 100px;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

/*FOOTER*/

#footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}
